/Guia 7 Poo/nbproject/private/
/Operacion/nbproject/private/
/Operacion/build/
/Rectangulo/nbproject/private/
/EjEx3_Juego/nbproject/private/
/EjEx3_Juego/build/
/EjExtra/nbproject/private/
/EjExtra/build/
/Nesspresso/nbproject/private/
/Nesspresso/build/
/Guia8ej3/nbproject/private/
/Guia8Ej1/nbproject/private/
/Guia8Ej1/build/

/Guia8ej3/build/
/Extras/EjEncapsulamiento/nbproject/private/
/Extras/EjEncapsulamiento/build/
/Guia8/Guia8Ej1/build/
/Guia8/Guia8ej3/build/
/IntegradorModificado/build/
/IntegradorModificado/nbproject/private/
/Guia 7 Poo/Circunferencia/build/
/Guia 7 Poo/Circunferencia/nbproject/private/
/Guia 7 Poo/EjEx3_Juego/build/
/Guia 7 Poo/EjEx3_Juego/nbproject/private/
/Guia 7 Poo/Juego/nbproject/private/
/Guia 7 Poo/Libro/build/
/Guia 7 Poo/Libro/nbproject/private/
/Guia 7 Poo/Empleado/build/
/Guia 7 Poo/Empleado/nbproject/private/
/Extras/Integrador1/nbproject/private/
/Extras/Integrador1/build/