/Guia 7 Poo/nbproject/private/
/Operacion/nbproject/private/
/Operacion/build/
/Rectangulo/nbproject/private/
/EjEx3_Juego/nbproject/private/
/EjEx3_Juego/build/
/EjExtra/nbproject/private/
/EjExtra/build/
/Nesspresso/nbproject/private/
/Nesspresso/build/
/Guia8ej3/nbproject/private/
/Guia8Ej1/nbproject/private/
/Guia8Ej1/build/

/Guia8ej3/build/
/Extras/EjEncapsulamiento/nbproject/private/
/Extras/EjEncapsulamiento/build/